.head{
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.80); */
}
header{
    position: sticky;
    top: 0;
    font-family: sans-serif;
}
nav{
    cursor: pointer;
    /* float: right; */
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: row-reverse;
    /* display: block; */
}
.burger {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.lines{
    width: 30px;
    background-color: white;
    height: 5px;
    margin: 5px 3px;
}
nav ul, footer ul{
    display: flex;
    align-items: center;
    float: right;
}
li {
    list-style: none;
    padding: 20px 10px;
    font-size: 20px;
}

header a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

a:hover {
    color: orange;
}

@media screen and (max-width: 1000px){
    nav{
        width: 100%;
        background: rgba(0, 0, 0, 0.80);
        flex-direction: column;
        height: 250px;
        transition: all 0.3s ease-out;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-resp {
        height: 75px;
    }
    .burger{
        display: block;
    }
    #navlist{
        flex-direction: column;
        text-align: center;
    }
    .ul-resp {
        opacity: 0;
    }
}